body {
    padding-top: 50px;
    height : 1050px;
}

.em-text {
    color: #2E9AFE !important;
}

.container p {
}

.jumbotron {
    background: url(../img/sighpc-rce-home_page-showcase.png) no-repeat top center;
    color:#fff;
    height:500px;
    overflow: none;
}

.jumbotron h1{
    margin-top:10px;
    color: #000000;
}

.jumbotron small{
    color: #1aa3ff;
}

.jumbotron p {
    margin-bottom: 40px;
}

.jumbotron .app-btn {
    width:40%;
    margin-right: 30px;
}

.jumbotron showcase-img{
    width:75%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    padding-top : 0px;
}

.footer .text-muted {
    padding-top : 40px;
}

.log_nav img {
    height : 45px;
    width : 250px;
    position : relative;
    margin-top : -10px;
    margin-left : 5px;
}

.mission ul {
    font-size : 20px;
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.mission ul li {
    font-size: 20px;
}

.carousel-page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.carousel-page-header h1 {
    text-align: left;
    font-size: 300%;
}

.carousel-page-header small{
    text-align: left;
    color: #66ccff;
}

.carousel-hero-unit p{
    text-align: left;
    text-size: 250%;
}

.carousel-hero-unit p:first-of-type {
    color: #ffffff;
    background-color: #e5f2ff;
}

.item img{
    width : 2048px;
    height: 1028px;
}
