body {
    padding-top: 50px;
}

.em-text {
    color: #1caa98 !important;
}

.jumbotron {
    background: url(../img/site_showcase_bg.jpg) no-repeat top center;
    color:#fff;
    height:600px;
    overflow: none;
}

.jumbotron h1{
    margin-top:10px;
}

.jumbotron p {
    margin-bottom: 40px;
}

.jumbotron .app-btn {
    width:40%;
    margin-right: 30px;
}

.jumbotron showcase-img{
    width:75%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    padding-top : 0px;
}

.footer .text-muted {
    padding-top : 40px;
}

.log_nav img {
    height : 45px;
    width : 250px;
    position : relative;
    margin-top : -10px;
    margin-left : 5px;
}
